@import "Variables.scss";

@media (min-width: 2000px) { 
    .albumBoxContainer {
        width: calc(100% / 6);
    }

    .albumBoxContainer.anim {
        width: calc(100% / 10);
    }
}

@media (min-width: 3000px) { 
    .albumBoxContainer.anim {
        width: calc(100% / 12);
    }
}

.albumBox {
    a {
        color: white;
        text-decoration: none;
    }

    border-radius: 8px;
    background-color: rgba(17,17,17,.85);
    opacity: 1;
    height: 100%;
    cursor: pointer;

    font-size: 17px;
    font-weight: bold;

    .img {
        width: 100%;
        transition: transform .2s, border-radius .3s;
        transform: scale(.97);
    }

    .img, img { border-radius: 8px 8px 0 0 }

    img {
        max-height: 350px !important;
        max-width: 98% !important;
        min-height: unset !important;
        min-width: unset !important;
        height: unset !important;
        width: unset !important;
        box-shadow: 0 0 3px 0 rgba(0,0,0,.75);       
    }
}

.albumBox.coming {
    opacity: .7;
}

.albumBox:hover {
    background-color: rgba(50, 50, 50, 0.7);

    a {
       color: $link-color;
        text-decoration: underline;
    }

    .img { transform: scale(1) }
}