.title {
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    font-family: "Rubik",sans-serif;
}

.table {
    color: #efefef;
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    border: none;

    th, td, thead, tbody {
        background-color: rgba(17, 17, 17, 0);
    }

    th, td {
        padding: 0.7rem;
        vertical-align: top;
    }

    td {
        font-weight: 400;
    }
}

.content {
    background-blend-mode: overlay;
    background-size: contain;
}

.stores {
    background-color: rgba(255,43,50,.88);
    color: #efefef;
    font-family: "Roboto",Sans-serif;
    font-size: 42px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    text-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 8px;
}

$download-blue: #2185f5;
.download {
    font-family: "Roboto", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 8px 8px 8px 8px;
    width: 100%;
    height: 100%;
    margin: 2px;
    padding: 0;
  }
  
  .download:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: $download-blue;
    color: $download-blue;
    transition: all .3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-width: 1px;
  }

  $direct-color: #ffdb37;
  .download.direct{
      pointer-events: all !important;
  }
 .download.direct:hover {
    color:$direct-color;
    background-color: rgba(255, 255, 255, 0);
    border-color: $direct-color;
    color: $direct-color;
  }
