@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/_mixins.scss';

#bannerBg {
    display: flex;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;

    .login {
        button{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        position: absolute;
        right: 0;

        @include media-breakpoint-up(sm) { 
            position: relative;          
        }
    }
}

.navLink {
    cursor: pointer;
    color: white !important;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 100%;
}

.navLink:hover {
    background-color: #4f4f4f;
}

#search {
    position: absolute;
    right: 0;
    top:0;
    font-size: 25px;
    color: #ffff; 
    height: 56px;

    input {
        width: 100%;
        height: 100%;
        outline: 0;
        border: 0;
        opacity: .9;
        background-color: #3f3f3f;
        padding: 10px 15px; 
        color: #ffff; 
        position: absolute;
        z-index: 2;
    }

    i {
        position: absolute;
        right: 15px;
        width: auto;
        z-index: 3;
        line-height: 56px;
    }
}

