.pageLink {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 20px;

    background-color: #222222;
    font-family: 'Rubik', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
  }
  
  .pageLink:hover {
    background-color: #3F3F3F;
  }