.letter {
    width: 60px;
    height: 60px;
    
    h2 {
        font-size: 40px;
        font-family: "Rubik", Sans-serif;
        font-weight: 600;
        margin: 0;
        line-height: 1;
    }
}